:root {
    --main-color : #121314;
    --sub-color :#47494D;
}


body {
    position: relative;
}

header {
    position: absolute;
    top: 240px;
    left: 360px;
    color: var(--main-color);
    line-height: 87.64px;
}

header > h1 {
    font-weight: bold;
}

header > p, header > h1 {
    font-size: 70px;
}

section {
    font-size: 20px;
    color: var(--sub-color);
    line-height: 40px;
}

article > img {
    width: 486px;
    height: 280px;
    border-radius: 20px;
    position:absolute;
    left: 1074px;
    top: 240px;
}

.img2 {
    position: absolute;
    top: 540px;
}

article > h3 {
    /* color: #fff; */
    font-size: 30px;
    font-weight: bold;
    line-height: 37.56px;
}

article > a {
    color: #fff;
    line-height: 20.03px;
}

article > a::after {
    content: " >";
    /* color: #fff; */
}

body {
    display :flex;
}

main {
    display: flex;
    flex-direction: column;
}

h3
