@font-face {
    font-family: "Pretendard-Regular";
    src: url("https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff") format("woff");
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: "Pretendard-Bold";
    src: url("https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Bold.woff") format("woff");
    font-weight: 700;
    font-style: normal;
}

:root {
    --main-color : #29363D;
    --sub-color : #5A6A72;
}

body {
    font-family: "Pretendard-Regular", sans-serif;
    color: var(--main-color);

    background-color: #EEE;
    padding-top: 30px;
    display: flex;
    justify-content: center;
    gap: 27px;
}

/*공통 속성*/

article {
    width: 288px;
    border-radius: 8px;
    background-color: #fff;
    box-shadow: 2px 2px 8px 0 rgba(0,0,0,0.1);
}
.ell2 {
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2; /* 2줄 넘어가면 말줄임 */
}

.read {
    font-family: "Pretendard-Bold";
    font-size: 14px;
    text-decoration: underline;
    width: 70px; /*어디서 70이 나온 건지 알아보기*/
    padding: 3px 6px;
}

/*card1*/

.card1 {
    height: 348px;
}

.card1 img {
    width: 100%;
    aspect-ratio: 288 / 196;
    object-fit: cover;
    border-radius: 8px 8px 0 0;
}

.card1 .text-group {
    padding: 20px 16px 16px;
}

.card1 h2 {
    font-family:"Pretendard-Bold"
}

.card1 .content {
    margin: 16px 0; /*위에서 text-group에서 padding으로 좌우 16px은 적용된 상태이므로, 여기서 또 할 필요 없음*/
    color: var(--sub-color);
    font-size: 12px;
    line-height: 19.2px;
}

/*.card2 */

.card2 {
    position: relative; /*왜 card1과는 달리 height를 지정하지 않냐면, 
                        자식태그 img를 padding %로 활용할 것이기 때문에, 
                        부모요소 .card2의 heigth를 0으로 설정해야 한다.(padding으로만 제어하기위해!)*/
}

.card2 header {
    height: 68px;     /*header는 title이 차지하는 부분 뿐만 아니라, 위아래 하얀부분(공백)까지 포함한다*/
}

.card2 header img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    position: absolute; /*부모요소 .card2를 기준으로 위치를 조정하겠다고 선언*/
    top: 16px;       
    left: 16px;
}

.card2 .title {
    position: absolute;
    width: 200px;
    height: 40px;    /*figma에서 frame5에 해당한다*/ 
    top: 16px;
    right: 16px;     /*왜 left가 아니라 right인지 알아보기*/
}

.card2 h3 {
    font-family: "Pretendard-Bold";
    line-height: 19.2px;
    margin-bottom: 1px;

}

.card2 .title p{
    font-size: 12px;
    line-height: 14.4px;
    color: var(--sub-color);
}

.thumbnail {
    width: 100%;    /*이미 이미지의 위치가 문서의 흐름에 따라 header아래에 위치해있기 때문에, 위치조정이 필요없다.*/
    aspect-ratio: 288 / 196;
    object-fit: cover;
}

.card2 .content{
    padding: 10px 16px 16px; /*왜 10 16 12 16이 아닌지 알아보기*/
}

.card2 .content .ell2{
    font-size: 12px;
    line-height: 19.2px;
    color: var(--sub-color);
    height: 40px;
    margin-bottom: 12px;
}
.card2 .read {
    position: relative;
}

.card2 .read::after {
    content: "";
    display: block;

    width: 4px;
    height: 4px;

    position: absolute;
    right: 0;
    top: 50%;
    border-style: solid;
    border-width: 2px 2px 0 0;

    transform: translate(-10px, -50%) rotate(45deg);
}

.card2 .btn-group {
    position: absolute;
    bottom: 16px;
    right: 16px;
    height: 32px;
}

.card2 .btn-group img {
    width: 32px;
    height: 32px;
    vertical-align: top; /*정렬을 도와줌*/
}

.card2 button:nth-child(2),
.card2 button:nth-child(3) {
    margin-left: 8px;
}